// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.inner-left > header h2 {
	color: #fff;
}

.btn-dark {
	color: #fff;
	border: 1px solid #fff;
}

.right>.inner-right {
	max-width: 100%;
}

article header h1.entry-title {
	margin-bottom: 0.5em;
}